flask
flask-admin
flask-restplus
alembic<0.8
flask-migrate
flask-sqlalchemy
-e git+https://github.com/mattupstate/flask-jwt.git#egg=flask-jwt

newrelic

requests

sqlalchemy-enum34
sqlalchemy-utils

gunicorn
#aiohttp
eventlet
greenlet
